<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Kafka Custom Publisher</title>
    {% if status != 'Disconnected' %}
    <p>{{ time }}</p>
    <h3> {{ status }}</h3>
    {% endif %}
</head>
<body>
<form action = "http://localhost:8000/publish" method = "POST">
  <div class="form-group">
    <label for="TopicInput">Topic</label>
    <select class="form-control" id="TopicInput" name="TopicInput" placeholder="Select Topic">
        <option>SIP_MESSAGES_IN</option>
        <option>LE_OUT</option>
        <option>OUT_TOPIC</option>
        <option>OUT_TOPICtest</option>
        <option>HUY</option>
    </select>
  </div>
    <div class="form-group">
    <label for="messageInput">Message</label>
      <input type="text" class="form-control" id="messageInput" name="messageInput" placeholder="Compose message...">
  </div>
  <div class="form-group">
    <label for="numMessagesInput">Number of messages</label>
    <input type="number" class="form-control" min="1" max="5000" id="numMessagesInput" name="numMessagesInput">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>
</html>