<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Kafka Custom Publisher</title>
    <p>Message published successfully to topic {{ topic }}! Check it out or go <a href="http://localhost:8000">back</a></p>
    <iframe src="http://10.0.0.243:9003/topic/{{ topic }}" width="100%" height="600" style="border:none;">
</iframe>
</head>
<body>

</body>
</html>